<form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Last Name"  formControlName="lastName">
      </mat-form-field>
  
    <mat-form-field>
      <input matInput type="email" placeholder="Email"  formControlName="email">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="{{hide?'password':'text'}}" placeholder="Enter password" formControlName="password" />
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>

    <p>Already account?<span><a routerLink="/login">Login</a></span></p>
  </form>

  <div class="spacer"></div>