<div class="form-container">

    <form [formGroup]="form" (submit)="onSubmit()">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
    
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    
      <p>
    <span><a routerLink="/login">Back to login</a></span>
      </p>
    </form>
    </div>
    
    <div class="spacer"></div>
    