
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
  }
  
  mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  button {
    align-self: flex-end;
  }

  span{
    margin-left: 5px;
  }
  
  .spacer{
    height: 9vh;
  }
a {
  text-decoration: none;
  color: #007bff; 
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3; 
}


/* .forgot-password {
  text-align: center; 
} */
