<div class="form-container">

    <form [formGroup]="form" (submit)="onSubmit()">
      <mat-form-field>
        <input matInput type="email" placeholder="Enter your email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="{{hideold?'password':'text'}}" placeholder="Enter old password" formControlName="oldPassword" />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility1()">
          <mat-icon>{{ hideold ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="{{hidenew?'password':'text'}}" placeholder="Enter new password" formControlName="newPassword" />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility2()">
          <mat-icon>{{ hidenew ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      
    
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    
      <p>
    <span><a routerLink="/patient">Back to home</a></span>
      </p>
    </form>
    </div>
    
    <div class="spacer"></div>
    